<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WaiPhyoMaungDontNetCore.MvcApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="BlogHttpClient" asp-action="Index">HttpClient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="BlogRestClient" asp-action="Index">RestClient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="BlogRefit" asp-action="Index">Refit</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ApexChart
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/ApexChart/PieChart">PieChart</a></li>
                        <li><a class="dropdown-item" href="/ApexChart/BubbleChart">BubbleChart</a></li>
                        <li><a class="dropdown-item" href="/ApexChart/ColumnChart">ColumnChart</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ChartJs
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/ChartJs/ColumnChart">ColumnChart</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/LineChart">LineChart</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/Doughnut">Doughnut</a></li>
                        <li><a class="dropdown-item" href="/ChartJs/RadarChart">RadarChart</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        HighChart
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/HighChart/PieChart">PieChart</a></li>
                        <li><a class="dropdown-item" href="/HighChart/Pyramid3D">Pyramid3D</a></li>
                        <li><a class="dropdown-item" href="/HighChart/StackedGroupColumn">StackedGroupColumn</a></li>
                        <li><a class="dropdown-item" href="/HighChart/BasicAreaChart">BasicAreaChart</a></li>
                    </ul>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CanvasChart
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/CanvasJs/PieChart">PieChart</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/PyramidChart">PyramidChart</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/AreaChart">AreaChart</a></li>
                        <li><a class="dropdown-item" href="/CanvasJs/StackedBarChart">StackedBarChart</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>